.list-cell {
    -fx-cell-size: 50 ;
    -fx-animated: true;
    -fx-padding: 1px;
}

.list-cell:hover{
    -fx-background-color: #dbdbdb;
}

.list-view {
    -fx-border-image-width: 0;
}

#statusList {
    -fx-box-border: transparent;
}

#userList {
    -fx-box-border: transparent;
}

#listHbox {
    -fx-background-color: #d5d5d5;
    -fx-padding: 0.2;
    -fx-spacing: -2;
}

#onlineUsersHbox {
    -fx-border-color: #d5d5d5;
    -fx-border-width: 1px;
    -fx-padding: 0.2;
    -fx-spacing: -2;
}


